.work{
  display: flex;
  flex-direction: column;
}

.work__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.work__description{
  color: #444444;
  font-size: 20px;
  width: 70%;
}

.work__heading{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.work__title{
  color: #444444;
  font-weight: bold;
  font-size: 40px;
}

.work__subtitle{
  color: #787676;
  font-size: 20px;
  margin-top: 20px;
}

.work__information{
  margin-top: 50px;
  color: #444444;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  transition: 0.3s;
  cursor: pointer;
}
.work__information:hover{
  color: #5391f8;
  transition: 0.3s;
}
.work__image{
  margin-top: 50px;
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .work{
    padding: 0 10%;
  }
  .work__content {
    flex-direction: column;
  }
  .work__description{
    width: 100%;
    margin-top: 20px;
  }

  .work__title{
    font-size: 32px;
  }

  .work__subtitle, .work__information, .work__description{
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .work{
    padding: 0%;
  }
}

@media only screen and (max-width: 375px) {
  .work__title{
    font-size: 30px;
  }

  .work__subtitle, .work__information, .work__description{
    font-size: 16px;
  }
}