.footer-section{
  color: #444444;
  margin-bottom: 70px;
  height: 200px;
}

.footer-section__contact{
  font-size: 42px;
  font-weight: bold;
}

.footer-section__items{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap:10%;
  font-size: 22px;
}

.footer-section__links{
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.footer-section__links:hover{
  color: #5391f8;
  transition: 0.3s;
}


@media only screen and (max-width: 768px) {
  .footer-section{
    padding: 0 10%;
  }

  .footer-section__items{
    flex-direction: column;
    gap:10%;
    height: 150px;
  }
}

@media only screen and (max-width: 425px) {
  .footer-section{
    padding: 0%;
  }

  .footer-section__contact{
    font-size: 36px;
  }
  .footer-section__items{
    font-size: 18px;
  }
}
