@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

main{
	padding: 0 10%;
}

.divider{
  width: 100%;
  border: 1px solid #4444;
  margin: 17% 0;
}


@media only screen and (max-width: 1024px) {
  main {
		padding: 5%;
    margin: 5% 0;
  }
}

@media only screen and (max-width: 768px) {
  main {
		padding: 0px;
    margin: 20% 0;
  }
}